{{define "content"}}
<div class="error-wrap">

    <div class="error-code">
        {{if eq .Error "404"}}404
        {{else if eq .Error "403"}}403
        {{else if eq .Error "405"}}405
        {{else if eq .Error "400"}}400
        {{else if eq .Error "500"}}500
        {{else}}err{{end}}
    </div>

    <h1 class="error-title">
        {{if eq .Error "400"}}Bad Request
        {{else if eq .Error "403"}}Forbidden
        {{else if eq .Error "404"}}Page Not Found
        {{else if eq .Error "405"}}Method Not Allowed
        {{else if eq .Error "500"}}Internal Server Error
        {{else}}Something Went Wrong{{end}}
    </h1>

    <p class="error-msg">
        {{if eq .Error "400"}}The request was invalid. Please check the URL or form data.
        {{else if eq .Error "403"}}You don&rsquo;t have permission to access this page.
        {{else if eq .Error "404"}}The page you&rsquo;re looking for doesn&rsquo;t exist.
        {{else if eq .Error "405"}}This page doesn&rsquo;t support that request method.
        {{else if eq .Error "500"}}The server ran into a problem. Please try again later.
        {{else}}An unexpected error occurred. Please try again.{{end}}
    </p>

    <a href="/" class="btn btn-primary">
        <i class="bi bi-house"></i> go home
    </a>

</div>
{{end}}
